/****************/
/* MOBILE + TABLET (SMALL SCREENS) */
/****************/
@media only screen and (max-width: 1000px){
	.Menu {
		left: -100%;
		max-width: 100%;
		position: fixed;
		top: 0;
		transition: left 0.5s ease-out;
		width: 600px;
		z-index: 98;
	}
	.Menu.active {
		left: 0;
	}
	.Menu header .menuHamburger {
		height: auto;
		left: 0;
		padding: 30px;
		position: fixed;
		top: 0;
		width: 70px;
		z-index: 99;
	}
	.Menu header .logo {
		margin: 20px 20px 20px 130px;
		max-width: calc(100% - 160px);
	}
	.Map {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}
/****************/
/* DESKTOP + TV (BIG SCREENS)*/
/****************/
@media only screen and (min-width: 1001px){
	.App {
		display: flex;
		flex-flow: row wrap;
	}
	.Menu {
		flex: 1 0px;
	}
	.Menu header .menuHamburger {
		display: none;
	}
	.Menu header .logo {
		margin: 40px 40px 0;
	}
	.Map {
		flex: 2 0px;
	}
}
/****************/
/* GENERAL CSS FOR ALL VIEWPORTS */
/****************/
/***** APP *****/
/****************/
.App {
	height: 100vh;
	width: 100%;
}
.Menu, .Map {
	height: 100%;
}
.invisible {
	width: 0;
	overflow: hidden;
}
.aria-invisible {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/* Hide Wikipedia gallery elements */
[id^="Galleria"], .gallery {
	display: none;
}
/****************/
/***** MENU *****/
/****************/
.Menu {
	background-color: #444;
	overflow-y: auto;
	overflow-x: hidden;
}
.Menu::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; }
.Menu::-webkit-scrollbar-button:hover{ background-color: #AAA; }
.Menu::-webkit-scrollbar-thumb{ background-color: #CCC; border-radius: 5px; }
.Menu::-webkit-scrollbar-thumb:hover{ background-color: #CCC; }
.Menu::-webkit-scrollbar-track{ background-color: #444444; }
.Menu::-webkit-scrollbar-track:hover{ background-color: #444444; }
.Menu::-webkit-scrollbar{ width: 10px; }
/****************/
.Menu header .logo {
	width: calc(100% - 80px);
}
/****************/
#infobox {
	background-color: #ccc;
	border: 4px dotted #aaa;
	border-radius: 15px;
	font-style: oblique;
	font-weight: lighter;
	margin: 20px 50px 0;
	padding: 10px;
	width: calc(100% - 128px);
}
/****************/
.menuFilter {
	display: flex;
	flex-flow: row wrap;
}
.menuFilter > div {
	flex: 1 auto;
	padding: 20px;
}
.menuFilter h3 {
	color: #fff;
	font-size: 25px;
	font-weight: lighter;
	margin: 10px;
}
.Menu input, .Menu select {
	border: 0;
	border-radius: 10px;
	font-size: 16px;
	font-style: oblique;
	height: 45px;
	max-width: calc(100% - 50px);
	min-width: 180px;
	padding: 0;
	text-align: center;
	width: 100%;
}
/****************/
#menuList h3 {
	color: #fff;
	font-size: 25px;
	font-weight: lighter;
	margin: 10px;
}
#menuList > ul {
	list-style-type: none;
	padding: 0;
}
#menuList li a {
	color: white;
	text-decoration: none;
}
#menuList li h2 {
	background-color: #333;
	border: 2px dotted #222;
	border-radius: 10px;
	font-weight: lighter;
	margin: 20px 50px;
	padding: 10px 0;
}
#menuList li.highlight a {
	color: black;
}
#menuList li.highlight h2 {
	background-color: #ccc;
}
/****************/
/***** MAP *****/
/****************/
.wikiInfo {
	background-color: white;
	border: 1px solid #444;
	border-radius: 10px;
	height: 500px;
	max-width: 70vw;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 25px;
	width: 400px;
}
.wikiInfo::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; }
.wikiInfo::-webkit-scrollbar-button:hover{ background-color: #AAA; }
.wikiInfo::-webkit-scrollbar-thumb{ background-color: #CCC; border-radius: 5px; }
.wikiInfo::-webkit-scrollbar-thumb:hover{ background-color: #CCC; }
.wikiInfo::-webkit-scrollbar-track{ background-color: #ffffff; }
.wikiInfo::-webkit-scrollbar-track:hover{ background-color: #444444; }
.wikiInfo::-webkit-scrollbar{ width: 10px; }